<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="css/estilos.css">
<meta charset="ISO-8859-1">
<title>Equipos</title>
</head>
<body>
	<div>
		<header>
			LIGA DE FUTBOL PROFESIONAL
		</header>
		<nav id="menu">
			<ul>
				<li class="elemento-lista"><a href=Index.html>Home</a></li>
				<li class="elemento-lista"><a href=fixture.html>Fixture y
						resultados</a></li>
				<li class="elemento-lista"><a href=equipos.html>Equipos </a></li>
			</ul>
		</nav>
		<div>
			<section id="noticias">
				<h2>Equipos</h2>
				<table class= "bloque">
					<tr>
						<td class="imagen">
							<img src="img/arsenal.png" width=200px height= 200px/>
						</td>
						<td class="texto">
							<p>
								Fundado en el año 1945 en la ciudad de La Plata. Actualmente su director técnico es Alberto Ravenat. El club cuenta con instalaciones modernas para realizar los deportes mas modernos. Actualmente cuenta con 8900 socios activos. Sus últimas copas ganadas son de la super copa año 1989, campeonato nacional 2000.Fundado en el año 1945 en la ciudad de La Plata. Actualmente su director técnico es Alberto Ravenat. El club cuenta con instalaciones modernas para realizar los deportes mas modernos. Actualmente cuenta con 8900 socios activos. Sus últimas copas ganadas son de la super copa año 1989, campeonato nacional 2000.Fundado en el año 1945 en la ciudad de La Plata. Actualmente su director técnico es Alberto Ravenat. El club cuenta con instalaciones modernas para realizar los deportes mas modernos. Actualmente cuenta con 8900 socios activos.
							</p>
						</td>
					</tr>
					<tr>
						<td class="imagen">
							<img src="img/arsenal.png" width=200px height= 200px/>
						</td>
						<td class="texto">
							<p>
								Fundado en el año 1945 en la ciudad de La Plata. Actualmente su director técnico es Alberto Ravenat. El club cuenta con instalaciones modernas para realizar los deportes mas modernos. Actualmente cuenta con 8900 socios activos. Sus últimas copas ganadas son de la super copa año 1989, campeonato nacional 2000.Fundado en el año 1945 en la ciudad de La Plata. Actualmente su director técnico es Alberto Ravenat. El club cuenta con instalaciones modernas para realizar los deportes mas modernos. Actualmente cuenta con 8900 socios activos. Sus últimas copas ganadas son de la super copa año 1989, campeonato nacional 2000.Fundado en el año 1945 en la ciudad de La Plata. Actualmente su director técnico es Alberto Ravenat. El club cuenta con instalaciones modernas para realizar los deportes mas modernos. Actualmente cuenta con 8900 socios activos.
							</p>
						</td>
					</tr>
				</table>
			</section>
			<aside id="auspiciantes">
				<h2>Auspiciantes</h2>
				<div class="publicidad">
					<img src="img/adidas.jpg" width=150px height=100px>
					<img src="img/macro.png" width=150px height=100px>
					<img src="img/chevro.jpg" width=150px height=100px>
					<img src="img/fravega.png" width=150px height=100px>
				</div>
			</aside>
		</div>
		<footer id="pie">
			<p>Av. Pedro Ortiz de Zárate N° 455 - Tel: 388 4789555</p>
			<p>Facebook: Liga de Futbol Pro - Twitter: Liga de Futbol Pro.</p>
		</footer>
	</div>
</body>
</html>